<style media="screen">
  body{
  background-image: url("http://www.centrofacturador.com.mx/images/facturacion%20electronica.jpg");
  background-size: cover;
  padding-top: 14%;
  }
.jumbotron{
font-family: sans-serif;
background-color: rgba(0, 0, 0, 0.5)!important;
color: rgb(231, 231, 231);
border-radius: 8px!important;
}
</style>

<div class="center jumbotron stilo">
  <h1>Sistema Contable CodeaCamp</h1>
  <br>


<!-- <a href="#" class="btn btn-lg btn-primary">Sign up now!</a> -->
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
